.body-margin {
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 25px;
	margin-right: 25px;
}

.provide-margin-on-bottom {
	margin-bottom: 20px;
}

.expand-to-screen-width {
	width: 100%;
}

.day {
	min-width: 210px;
	height: 300px;
}

.slot-height {
	height: 15px;
}