<!DOCTYPE html>

<html ng-app="indexApp">

<head>
	<title>Yaro's Calendar App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/aws-sdk-js/dist/aws-sdk.js"></script>
  	<script src="js/indexApp.module.js"></script>
  	<script src="js/indexApp.config.js"></script>
  	<script src="js/googleService.js"></script>
  	<script src="js/googleController.js"></script>
  	<script src="js/cognitoService.js"></script>
  	<script src="js/apigClientService.js"></script>
  	<script src="js/calendarServiceController.js"></script>
	
	<meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="187173892432-dnsafu5beq2j4qgggl8kf7serfca9umn.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    
    <script type="text/javascript" src="calendar-service-sdk/lib/axios/dist/axios.standalone.js"></script>
	<script type="text/javascript" src="calendar-service-sdk/lib/CryptoJS/rollups/hmac-sha256.js"></script>
	<script type="text/javascript" src="calendar-service-sdk/lib/CryptoJS/rollups/sha256.js"></script>
	<script type="text/javascript" src="calendar-service-sdk/lib/CryptoJS/components/hmac.js"></script>
	<script type="text/javascript" src="calendar-service-sdk/lib/CryptoJS/components/enc-base64.js"></script>
	<script type="text/javascript" src="calendar-service-sdk/lib/url-template/url-template.js"></script>
	<script type="text/javascript" src="calendar-service-sdk/lib/apiGatewayCore/sigV4Client.js"></script>
	<script type="text/javascript" src="calendar-service-sdk/lib/apiGatewayCore/apiGatewayClient.js"></script>
	<script type="text/javascript" src="calendar-service-sdk/lib/apiGatewayCore/simpleHttpClient.js"></script>
	<script type="text/javascript" src="calendar-service-sdk/lib/apiGatewayCore/utils.js"></script>
	<script type="text/javascript" src="calendar-service-sdk/lib/moment/moment.js"></script>
	<script type="text/javascript" src="calendar-service-sdk/apigClient.js"></script>
</head>

<body ng-controller="googleController as google" class="container theme-showcase" style="padding-top: 50px; padding-bottom: 50px;">
	<div class="jumbotron">
		<h1>Welcome!</h1>
		<p>Yaro's Calendar App allows you to schedule appointments with your trainer.</p>
	</div>
	
	<div ng-show="google.clientName === null" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
	<hr>
	
	<div ng-controller="calendarServiceController as calendarService">
		<div ng-show="calendarService.trainers !== null">
			<label for="trainerSelect">Hi {{google.clientName}}, please select your preferred trainer: </label>
			<select name="trainerSelect" ng-model="selectedTrainer" ng-change="calendarService.trainerSelected()">
			  <option ng-repeat="trainer in calendarService.trainers" value="{{trainer.id}}">{{trainer.name}}</option>
			</select>
			
			<form ng-show="calendarService.freeSlots !== null">
				<hr>
				<div ng-repeat="(group, freeSlots) in calendarService.freeSlots" class="panel panel-default">
					<div class="panel-heading">{{group}}</div>
					<div ng-repeat="freeSlot in freeSlots" class="panel-body">
						<label>
							<input type="radio" ng-model="calendarService.selectedSlot" value={{freeSlot}} name="freeSlotSelector">
							{{calendarService.timeSlotRender(freeSlot)}}
						</label><br/>
					</div>
				</div>
				<input type="submit" ng-click="calendarService.bookSlot()" class="btn btn-lg btn-default" />
			</form>
		</div>
	</div>
</body>

</html>